@{
    ViewData["Title"] = "Home Page";
}


<div>
    <h2>Please register so we can contact you when the product is getting released.</h2>
    <a asp-action="Register" asp-controller="Account">Register</a>
</div>